/* form-fields */
/* zie demo bestanden bij de theorie voor meer CSS ;) */
input:not([type=submit]),
textarea {
	display: block;
	width: 100%;
	max-width: 40rem;
	padding: .75em;
	border: 1px solid oklch(51.028% 0.00006 271.152);
	border-radius: .3rem;
}

label,
input[type=submit] {
	margin-top: 3rem;
}

input[type=submit] {
	padding: .5em 2em;
	border: none;
}

label {
	display: block;
	margin-bottom: .2em;
	font-weight: bold;
}

.message {
	font-size: 1.4rem;
}
.message.error {
	color: oklch(49.784% 0.19805 29.009);
}

.button {
	border: none;
}