form {
	background-color: oklch(91.131% 0.01936 263.055);
	padding: 1.5rem;
	max-width: 50rem;
}

.small {
	font-size: 0.75;
	color: oklch(50.323% 0.00006 271.152);
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.message-error {
	color: oklch(62.793% 0.25768 29.223);
}