/* page */
html {
	font-size: 62.5%;
	font-family: sans-serif;
}

body {
	font-size: 1.6rem;
	margin: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 100%;
}

/* form-fields */
/* zie demo bestanden bij de theorie voor meer CSS ;) */
input:not([type=submit]),
textarea {
	display: block;
	width: 100%;
	max-width: 40rem;
	padding: .75em;
	border: 1px solid oklch(51.028% 0.00006 271.152);
	border-radius: .3rem;
}

label,
input[type=submit] {
	margin-top: 3rem;
}
input[type=submit] {
	padding: .5em 2em;
}
label {
	display: block;
	margin-bottom: .2em;
	font-weight: bold;
}

.message {
	font-size: 1.4rem;
}
.message.error {
	color: #b90e0a;
}



table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #eaeaea;
}
