*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    background-color: oklch(0.9961 0.0034 325.6);
    font-family: "Funnel Sans", sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;

    --dark-blue: oklch(29.463% 0.06923 254.278);
    --main-blue: oklch(54.518% 0.11072 254.098);
    --light-blue: oklch(91.131% 0.01936 263.055);
    --white: oklch(97.767% 0.00211 14.29);
}

body {
    margin: 0;
    background-color: var(--white);
}

.container {
    max-width: 80rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

h1 {
    color: var(--dark-blue);
}

h2 {
    color: var(--main-blue);
}

.button {
    background-color: var(--main-blue);
    padding-block: .5rem;
    padding-inline: 1rem;
    color: var(--white);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    
    display: inline-block;
    text-decoration: none;
    border-radius: .75rem;
}

.button-small {
    background-color: var(--main-blue);
    padding-block: .25rem;
    padding-inline: 1rem;
    color: var(--white);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    
    display: inline-block;
    text-decoration: none;
    border-radius: .75rem;
}

header {
    background-color: var(--dark-blue);    
    .container {
        display: flex;
        .logo {
            height: 5rem;
            margin-block: 4.5rem;
            margin-inline-end: 1rem;
        }
    
        nav {
            
            ul {
                list-style: none;
                margin-inline-start: -2.5rem;

                li {
                    
                    a {
                        padding-block: .5rem;
                        padding-inline: 1rem;
                        color: var(--white);
                        text-decoration: none;
                        font-size: 1.25rem;
                        font-weight: bold;

                        display: inline-block;
                        text-decoration: none;
                        border-radius: .75rem;
                    }

                    a:hover {
                        background-color: var(--light-blue);
                        color: var(--dark-blue);
                    }
                }
            }
        }
    }
}

main {
    margin-block: 1rem;

    .intro {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        align-items: center;
        margin-block-end: 2rem;
        .text {
            max-width: 40rem;
        }
        img {
            border-radius: 20rem;
            height: 20rem;
        }
    }

    .latest-labs-cards {
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
        list-style: none;
        flex-wrap: wrap-reverse;
        gap: 2rem;
        padding: 0;
        margin: 0;

        > li {
            display: flex;
            flex-direction: column;
            position: relative;
            background-color: var(--light-blue);
            border-radius: 1rem;
            overflow: hidden;           /*!!!!!*/
            box-shadow: 0 0 .2rem oklch(0 0 0 / .2), 0 0 2rem oklch(0 0 0 / .1);
            width: 18rem;          /*!!!!!*/
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: var(--main-blue);
                color: var(--white);

                .button-small {
                    background-color: var(--white);
                    color: var(--main-blue);
                }
            }
            
            .content {
                margin: 1rem;
    
                .overlay-link {
                    position: absolute;
                    inset: 0;
                    text-indent: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                }
    
                a:not(.overlay-link) {
                    z-index: 1;
                }
            }
        }

        img {
            order: -1;
        }

    }
}

footer {
    margin-block-start: 5rem;
    padding-block-start: .5rem;
    background-color: var(--light-blue);

    .container {
        display: flex;
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-inline-start: -3rem;

        li {

            img{
                width: 4rem;
            }
        }
    }

    .copyright {
        color: var(--dark-blue);
        
    }
}